*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
#main{
    background-color:black;
    height: 70px;
    width: 100%;
    position: fixed;
}
#ld{
    height: 60px;
    width: 60px;
    position: absolute;left: 10px;top: 2px;
    border: 2px solid none;
    border-radius: 20px;
    box-shadow: 2px 4px 15px blue;
}
#ul1{height: 70px;
width:70%;
list-style: none;
background-color:none;
position:absolute;right: 15%;

}
.l1{
margin: 20px;
display: inline-block;
position: relative;

}
.l1::after{
content: "";
height: 5px;
width: 10px;
background-color: none;
position: absolute;left: 0px;top: 30px;
}
 a{
margin:10px;
font-size:20px;
color:white;
text-decoration: none;
}
a:hover{
    color:chocolate;
    cursor: pointer;
    text-shadow: 2px 4px 15px white;
}
.fa-magnifying-glass{
    color: white;
    font-size: 30px;
    position: absolute;right: 200px;top: 17px;
}
.fa-magnifying-glass:hover, .fa-user, .fa-envelope{
    cursor:help;
    color:blue;
}
.fa-user{
    color: white;
    font-size: 30px;
    position: absolute;right: 130px;top: 17px;
}
.fa-envelope{
    color:white;
    font-size: 30px;
    position: absolute;right: 60px;top: 17px
}

section{
height: 100vh;
width: 100vw;
align-items: center;
justify-content: center;
display: flex;

}
#section1{
    /* background-image: linear-gradient(rgba(0,0 ,0, 0),rgba(255, 255, 255, 0.2)); */
    filter: blur(10);
}

 .gv{
    position: absolute;
    top:0px;
    left:0px;
    filter: blur(2px);
    z-index: -1;
    height:inherit;
    width:inherit;

 }
 @media(min-aspect-ratio:16/9)
{
    .gv{
        width:100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9)
{
    .gv{
        width:auto;
          height: 100%;
    }
}
.bbbb{
    position: absolute;top: 170px;left: 10px; 
    animation: 4s abc; 
    transition:all 10s; 
}

@keyframes abc {
    0%{left:-50% ;}
    50%{left: 0%;}
    /* 100%{left:5% ;} */
}
h1{
    color:white;
    font-family:'Franklin Gothic Medium';
    font-size: 90px;
    
}
h3{
    color:red;
    font-family:Franklin Gothic Medium ;
    font-size: 90px;
    text-align: left;
}
h5{
    color:white;
    font-size: 90px;
    font-family:Franklin Gothic Medium;
    text-align:left;
}
.abu{
    width: 25%;
    background-color:rgb(254, 8, 8);
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;bottom: 0pxpx;left: 5px;
}
/* #men{
height: 400px;
width: 350px;
position: absolute;left: 0px;bottom: -40px;
animation:5s tach ;
}
@keyframes tach{
    0%   { left: -100%; }
    50% {left: 10%; }

} */
/* #d{
height: 60px;
width: 600px;  
font-size: 40px;
color:black; 
border-radius: 25px;
background-color: aliceblue;
position: absolute;left: 0%;bottom: 5px;
}
#d:hover{
    color: transparent;
}
#pl{
float: left;
color: white;
font-size: 40px;
height: inherit;
width: 300px;   
background-color: blue;
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);}
#pl:hover{
    font-size: 60px;
    width: 100%;
    transition: all 2s linear;
}
#d1{
position: absolute;top:250px;right: 10%;
}
#he{
width: 250px;
font-size:40px;
background-color: yellow;
border-radius: 20px;
}
#she{
font-size: 80px;
color:white;
font-family: 'Segoe UI';
}
#b2{
background-color: rgb(40, 185, 243);
color: white;
height: 50px;
width: 300px;
font-size: 20px;
font-family: 'Gill Sans';
font-weight: 900;
clip-path: polygon(25% 0%, 75% 0%, 83% 50%, 75% 100%, 25% 100%, 17% 50%);
}
#b2:hover{
background-color: orangered;
}
#hh{
font-size: 80px;
color:darkred;
font-family:'Franklin Gothic Medium';
position: absolute;right: 70px;top: 100px;
animation:5s la ;
animation-iteration-count: infinite;
border-radius: 5px;

}
@keyframes la{
    0%   {  transform: scale(0);background-color: none;}
    50% { transform: scale(1);background-color:gold;color: red;}
    100% {transform: scale(1);background-color:darkred;color: gold;}
} */

#sec2{
    height: 90vh;width: 100vw;
    position: relative;
    margin-top: 75px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.145),rgba(230, 12, 12, 0.2));
}
.vv{
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
    height:inherit;
    width:inherit;
}
@media(min-aspect-ratio:16/9)
{
    .vv{
        width:100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9)
{
    .vv{
        width:auto;
          height: 100%;
    }
}
#d3{
    height: 450px;
    width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;top: 50px;left: 220px;
}
h2{
    font-size: 35px;
    font-family:'Franklin Gothic Medium';
}
form{
    display: inline-block;
}
input[type=text], select { 
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
  }
  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }     
  #d4{
    position:absolute;top: 15px;right: 15px;
  }
 #a1{
    position: absolute;bottom: 50px;right: 100px;
 } 
 #section3{
    background-color:thistle; 
    
 }
 #d5{
    height: 90vh;
    width: 100vw;
    position: relative;
    margin-top:75px;
    background-color: none;
   
 }
 #d6{
    position:absolute;top: 40px;left: 20px;
 }
h6{
    color: white;
    background-color: tomato;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
    width: 200px;
    height: 80px;
}  
#ul2{
    height: 150px;
    width: 600px;
    position: absolute;left: 20px;
    
}
.lii{
    font-size: 15px;
    font-family:'Trebuchet MS';
   list-style-type: circle;
   margin-bottom:20px;
}
#d7{
    position: absolute;left: 20px;bottom: 90px;
}
#poster{
    height: 80%;
    width: 500px;
    position: absolute;right: 140px;bottom: 50px;
    animation: 10s pt;
    border-radius: 25px;
    animation-iteration-count: infinite;
    transition:all 10s;
    
}
@keyframes pt{
    0%   {  transform: scale(0);}
    100% {transform: scale(1);}
}
#section4{
    background-color: darksalmon;
  
}
.aboutus-section{height: 90vh;width: 100vw;background-color:#f39c12;position: relative;margin-top: 75px;}
.paddingTB60 {padding:10px 5px 10px 5px;}
.gray-bg {background: #F1F1F1 !important;position: absolute;top: 35px;width:100vw;height: 80%;}
.about-title h1 {color: #535353; font-size:45px;font-weight:600;}
.about-title span {color: #AF0808; font-size:45px;font-weight:700;}
.about-title h3 {color: #535353; font-size:23px;margin-bottom:24px;}
.about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px;}
.about-paddingB {padding-bottom: 0px;}
.imgweb{position: absolute;top: 30px;right: 50px;}
.imgla{height: 200px;width: 300px;}
.imgweb1{position: absolute;bottom: 30px;right: 30%;}
.imgweb2{position: absolute;bottom: 40px;right:80px;}
.imgla1{height: 150px;width: 200px;border-radius: 50%;}
/* Social Icons */
.about-icons {margin:38px 0px 38px 0px ;}
.about-icons i{margin-right: 10px;padding: 0px; font-size:35px;color:#323232;box-shadow: 0 0 3px rgba(0, 0, 0, .2);}
.about-icons li {margin:0px;padding:0;display:inline-block;}
#social-fb:hover {color: #3B5998;transition:all .001s;}
 #social-tw:hover {color: #4099FF;transition:all .001s;}
 #social-gp:hover {color: #d34836;transition:all .001s;}
 #social-em:hover {color: #f39c12;transition:all .001s;}
/* 
#section5{
position: relative;
}
    h1 {
        position: absolute;top: 10vh;
        margin-top: 10vh;
        width: 100%;
        text-align: center;
        font-size: 333%;
        font-family: sans-serif;
        color:red;
        opacity: 0.5;
      }
      
      canvas {
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: 0;
      }
 */
